/* ------------------------------
   Frontend Mentor Style Guide
------------------------------ */

/* Colors */
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html, body {
  height: 100%;
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout principal */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}